.params{
    display: flex;flex-wrap: wrap;
    height: 88vh;
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.sidebar{
    width: 40%;
    height: 100%;
    transition: .6s;
    overflow: hidden;
}
.sidebarForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitButton{
    position: relative;
    display: block;
    margin: 30px;
    width: 150px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
    transform: translateX(-18%);
    padding: 12px 24px;
    cursor: pointer;
}
.submitButton:hover{
    background-color: #7282ab;
    border:1px solid #7282ab;
}